@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 8
   Case Problem 4

   Roads Not Taken Audio Styles
   Author: Nicholas Le 
   Date: 1/31/19  

   Filename: rnt_audio.css

*/

/* Audio Styles */
audio {
    display: block;
    box-shadow: darkgray 8px 8px 15px;
    margin: 10px auto;
    width: 80%;
    border-radius: 32px;
}

audio::-webkit-media-controls-panel {
    background-color: rgb(128, 128, 255);
}